.menu-button {
  display: block;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 60px 0;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  font-weight: 500;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  &.is-open {
    display: block;
  }
  @media screen and (min-width: 768px) {
    position: unset;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 14px;
    line-height: 1.143;
    box-shadow: none;
  }
}
